* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1,
h2,
h3 {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  /* line-height: 20px; */
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}
@media (max-width: 768px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
}

p {
  font-family: "Josefin Sans";
}


.show-popup {
  opacity: 1;
  transform: perspective(1px) translate(-50%, -50%) scale(1.0) !important;
  transition: 0.2s;
}

.hide-popup {
  opacity: 0;
  transform: perspective(1px) translate(-50%, -50%) scale(0.7) !important;
  transition: 0.2s;
  pointer-events: none;
}

.menu-open {
  max-height: 100% !important;
  transition: 0.4s;
}


.hidden {
  opacity: 0 !important;
  pointer-events: none;
  transition: 0.3s;
}


.author-info {
  position: absolute;
  bottom: -25px;
  color: #838383;
  font-size: 14px;
}